body {
    background-color:ghostwhite;
    margin:0px;
    padding:0px;
    font-family:verdana;
    color:dimgray;
}
a {
    color:lightpink;
    text-decoration:none;
}
a:hover {
    color:deepskyblue;
    text-decoration:none;
}
h1, h2 {
    font-family: 'Henny Penny';
}
header {
    background-color:dimgray;
    color:ghostwhite;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    border-bottom:10px solid silver;
}
article {
    padding-bottom: 25px;
}
article:last-of-type {
    padding-bottom: 0px;
}
footer {
    background-color:dimgray;
    color:ghostwhite;
    text-align:center;
    padding-bottom:25px;
    padding-top:40px;
    border-top:10px solid silver;
}
#title {
    margin:0px;
    padding:0px;
}
#content {
    display:flex;
    flex-direction:row;
    padding: 25px 50px 25px 50px;
}
#about {
    text-align:center;
    padding:25px;
}
#news {
    flex-direction:column;
    padding-left:50px;
}
.cat {
    color:deepskyblue;
}
.avatar {
    object-fit: cover;
    width: 300px;
    height:300px;
    border-radius: 50%;
    border: 5px solid silver;
}
.topic {
    margin:0px;
    padding:0px 0px 5px 0px;
    border-bottom: 2px solid silver;
}