* {
    box-sizing: border-box;
}
body {
    background-color:ghostwhite;
    margin:0px;
    padding:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:dimgray;
}
a {
    color:lightpink;
    text-decoration:none;
}
a:hover {
    color:deepskyblue;
    text-decoration:none;
}
h1, h2 {
    font-family: 'Henny Penny';
}
header {
    background-color:dimgray;
    color:ghostwhite;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    border-bottom:10px solid silver;
    grid-area:header;
}
article {
    padding-bottom: 25px;
}
article:last-of-type {
    padding-bottom: 0px;
}
aside {
    grid-area:aside;
    padding:25px;
}
footer {
    background-color:dimgray;
    color:ghostwhite;
    text-align:center;
    padding-bottom:25px;
    padding-top:40px;
    border-top:10px solid silver;
    grid-area:footer;
}
#main {
    display:grid;
    grid-template-areas:
        'header header header'
        'aside news news'
        'footer footer footer';
    grid-gap:25px;
    margin:0px;
}
#title {
    margin:0px;
    padding:0px;
}
#about {
    text-align:center;
    padding:10px 25px;
}
#news {
    grid-area:news;
    padding:10px 25px;
}
.cat {
    color:deepskyblue;
}
.avatar {
/* Some workarounds included for older browsers */
    -o-object-fit: cover;
    object-fit: cover;

    width: 300px;
    height:300px;
    border-radius: 50%;
    border: 5px solid silver;
}
.topic {
    margin-left:-25px;
    padding-bottom:5px;
    border-bottom: 2px solid silver;
}

/* We're being mobile friendly! */

@media (max-width: 768px) {
    article > p {
        text-indent:5%;
    }
    #main {
        display:grid;
        grid-template-areas:
            'header'
            'aside'
            'news'
            'footer';
        grid-gap:25px;
        margin:0px;
    }
    #news {
        margin:0px;
        padding:0px 50px;
    }
    .topic {
        margin:0px;
    }
}
